
<div class="row g-3 mb-3">

    <!--<div class="col-sm-12">        
        <div class="card-wrapper border rounded-3 light-card checkbox-checked">
            <h6 class="pb-3 f-w-500"> Tu proceso esta en espera de validación </h6>
            <form class="row g-3">
            <div class="col-12">                    
                <a class="btn btn-primary me-3 " href="javascript:void(0)" (click)="recargarPagina()"><i class="fas fa-redo mr-1"></i> Recargar página </a>
            </div>
            </form>
        </div>
    </div>-->

        <div class="card-body dark-alert">
            <div class="alert alert-light-warning">
                <h5 class="alert-heading pb-2 txt-warning">Aviso</h5>
                <p>Tu proceso esta en espera de validación</p>
                <hr>
                <p class="mb-0"><a class="btn btn-primary me-3 " href="javascript:void(0)" (click)="recargarPagina()"><i class="fas fa-redo mr-1"></i> Recargar página </a></p>

            </div>
            
        </div>

   

</div>
    