
<div class="row g-3 mb-3">

    <div class="col-sm-12">
        
        <div class="card-wrapper border rounded-3 light-card checkbox-checked">
            <h6 class="pb-3 f-w-500"> Descargar carta de presentación preliminar</h6>
            <form class="row g-3">
            <!--<div class="col-12">
                <label class="col-form-label" for="cleave-date1"> Descargar carta de presentación preliminar</label>
                <input class="form-control" id="cleave-date1" type="text" placeholder="DD-MM-YYYY">
            </div>-->
            <div class="col-12">                    
                <a class="btn btn-primary me-3" href="javascript:void(0)"><i class="fas fa-file-download "></i> Descargar</a>
            </div>
            </form>
        </div>

    </div>

</div>
    
    
    

  
