<div class="page-wrapper">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">     
          <div class="login-card login-dark" >
            <div>
              <div>
                <a class="logo" [routerLink]="['/dashboard/default']" style="margin-bottom:0px;">
                    <img class="img-fluid for-dark" src="assets/images/logo/escudo-uqroo.png" alt="looginpage" width="180">
                    <img class="img-fluid for-light" src="assets/images/logo/escudo-uqroo.png" alt="looginpage" width="180">
                </a>
            </div>
              <div class="login-main"> 
                <div class="error-wrapper" style="    min-height: 0;">
                    <div class="container">
                        <!--<img class="img-100" src="assets/images/other-images/sad.png" alt="">-->
                        
                        <h2 class="headline font-success" style="margin-top: 20px;">Validando datos</h2>
                        <br>
                        
                        <!--<div class="col-md-8 offset-md-2">
                            <p class="sub-content">No cumples con los créditos suficientes</p>
                        </div>-->

                        <div class="row">
                            <div class="col">
                                  <h6 class="mb-2">70% Validando tus créditos</h6>
                                <div class="progress mb-4">
                                    <div class="progress-bar-animated progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width': '70%'}"
                                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> </div>
                                </div>
                
                            </div>
                        </div>

                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>